name: Firebase Hosting CD

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    name: Wdrożenie na Firebase Hosting
    runs-on: ubuntu-latest
    
    steps:
      - name: Sprawdzenie kodu (Checkout)
        uses: actions/checkout@v4

      # Ustawienie Node.js i instalacja Firebase CLI
      - name: Ustawienie Node.js i Instalacja Firebase CLI
        uses: actions/setup-node@v4
        with:
          node-version: '18' 
      - run: npm install -g firebase-tools
      
      # Krok 1: Zapisanie Klucza SA do pliku
      - name: Zapisz Klucz SA do Pliku
        # Używamy tej składni, by Klucz SA JSON (z sekreta) został poprawnie zapisany na dysk
        run: echo '${{ secrets.GCP_SA_KEY }}' > service-account-key.json

      # Krok 2: Jawne uwierzytelnienie za pomocą pliku Klucza SA
      # To omija wszystkie problemy z parsowaniem zmiennych środowiskowych
      - name: Uwierzytelnienie i Wdrożenie na Firebase Hosting
        # Używamy flagi --token, by przekazać plik SA jako token do uwierzytelnienia
        run: firebase deploy --project ar-widget-project-5f6f8 --only hosting --token $(cat service-account-key.json)
