name: Firebase Hosting CD

on:
  push:
    branches:
      - main  # Ustaw gałąź, która ma wyzwalać wdrożenie

jobs:
  build_and_deploy:
    name: Deploy to Firebase Hosting
    runs-on: ubuntu-latest
    
    steps:
      - name: Sprawdzenie kodu z repozytorium
        uses: actions/checkout@v4

      - name: Ustawienie Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18' # Zalecana stabilna wersja Node.js

      - name: Instalacja Firebase CLI
        run: npm install -g firebase-tools

      - name: Wdrożenie na Firebase Hosting
        # Używamy --token z GitHub Secrets
        # KLUCZOWA ZMIANA: Dodajemy --project, aby zignorować błąd .firebaserc
        run: firebase deploy --only hosting --token ${{ secrets.FIREBASE_DEPLOY_TOKEN }} --project ar-widget-project
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
        # !!! Utrzymujemy working-directory, aby upewnić się, że pozostałe pliki są widziane
        working-directory: ${{ github.workspace }}
