name: Firebase Hosting CD

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    name: Wdrożenie na Firebase Hosting
    runs-on: ubuntu-latest
    
    steps:
      - name: Sprawdzenie kodu (Checkout)
        uses: actions/checkout@v4

      - name: Ustawienie Node.js i Instalacja Firebase CLI
        uses: actions/setup-node@v4
        with:
          node-version: '18' 
      - run: npm install -g firebase-tools
      
      # Krok 1: Utworzenie pliku Klucza SA z sekreta
      - name: Utworzenie pliku Klucza SA
        run: echo '${{ secrets.GCP_SA_KEY }}' > service-account-key.json
      
      # Krok 2: Wdrożenie z jawnym wskazaniem pliku Klucza SA
      - name: Wdrożenie na Firebase Hosting (GOOGLE_APPLICATION_CREDENTIALS)
        run: firebase deploy --project ar-widget-project-5f6f8 --only hosting
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/service-account-key.json
