name: Firebase Hosting CI/CD

on:
  push:
    branches:
      - main  # Akcja uruchomi się po pushu do gałęzi 'main'

jobs:
  deploy_frontend:
    name: Wdrożenie na Firebase Hosting
    runs-on: ubuntu-latest
    
    steps:
      - name: Sprawdzenie kodu (Checkout)
        uses: actions/checkout@v4
      
      # Używamy dedykowanej akcji w9jds/firebase-action
      - name: Wdrożenie na Firebase Hosting
        uses: w9jds/firebase-action@master
        with:
          # Używamy domyślnej komendy deploy. Polegamy na poprawnym firebase.json
          args: deploy
        env:
          # KLUCZOWE: Przekazujemy Twój sekret do zmiennej środowiskowej FIREBASE_TOKEN
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_DEPLOY_TOKEN }}
          PROJECT_ID: ar-widget-project-5f6f8
